html {
  font-size: 16px;
}
p {
  font-size: 1.6rem;
}
@media and (max-width: 767px) {
  html {
    font-size: 11px;
  }
}
.visually-hidden:not(:focus):not(:active){
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav-style {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.nav-clor {
	color: #ffffff !important;
}

.cut-img{
	object-fit: cover; 
  	width: 100%;
  	max-height: 100vh;
}

/* Text gif  !!!!!!!!!!!*/

.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    background: url('../img/sandro-katalina-457230-unsplash.jpg') 50% 50%  fixed;
    background-color: #cccccc; /* Used if the image is unavailable */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.title h1 {
    /*background-image: url(https://media.giphy.com/media/RMMqIyluDtxVcYIIDZ/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;*/
    text-transform: uppercase;
    font-size: 120px;
    line-height: 130px;
    /*color: #f599ff;
    animation: neon .08s ease-in-out infinite alternate;*/
    color: #c6f1ff;
    animation: neon .08s ease-in-out infinite alternate;
}

/*@keyframes neon {
  from {
    text-shadow: 
    0 0 6px rgba(219, 202, 228, 0.92), 
    0 0 30px rgba(202,228,225,0.34), 
    0 0 12px rgba(193, 30, 242, 0.52), 
    0 0 21px rgba(242, 30, 202, 0.92), 
    0 0 34px rgba(242, 30, 202, 0.78), 
    0 0 54px rgba(242, 30, 222, 0.92);
  }
  to {
    text-shadow: 
    0 0 6px rgba(228, 202, 227, 0.98), 
    0 0 30px rgba(202,228,225,0.42), 
    0 0 12px rgba(242, 30, 212, 0.58), 
    0 0 22px rgba(242, 30, 242, 0.84), 
    0 0 38px rgba(193, 30, 242, 0.88), 
    0 0 60px rgb(242, 30, 222);
  }
}*/

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

/* styling my button */

.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #FFF;
    transition: .35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
}

.white-mode:hover {
    background-color: #FFF;
    color: #122;
}

/* SCRIPT CODE TRANSGENERIC !!!!*/
.text-transform-block {
	height: 120vh;
	background-color: #1c1c1c;
	display: flex;
	align-items: center;
}

.text-transform {
	font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 28px;
    color: #fafafa;
}


/*GALLERY */

.gallery {
    position: relative;
    padding: 0;
    margin: 0;
}

.gallery-show{
    padding: 0;
    margin: 0;
    background-color: #1c1c1c;
}

.gridItem {
	display: block;
	margin: 0;
	padding: 0;
	grid-gap: 0px;
	position: relative;
}
 
.img-overlay {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #000000;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}
.photo-title {
	font-family: "Montserrat";
    text-align: center;
    color: #FFF;
}

.photo-gif-1 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/RMMqIyluDtxVcYIIDZ/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.photo-gif-1 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/fRdfmxdJKHsGVjA2o9/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.photo-gif-2 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/Y07Xe8RzhL2b7tW437/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.photo-gif-3 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/bZwudGU2ocCY/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.photo-gif-4 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/yoJC2z5MDECBbWDR7O/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.photo-gif-5 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/7sTIrQPRDZxV6/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.photo-gif-6 {
	align-items: center;
	box-sizing: border-box;
	background-image: url(https://media.giphy.com/media/RMMqIyluDtxVcYIIDZ/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
}

.gridItem:hover .img-overlay {
	opacity: 0.7;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.8s;
}

.modal-close {
    animation-name: shake;
    animation-duration: 0.8s;
    display: none;
}
/*Анимация*/
@keyframes bounce {
    0%      { transform: translateY(-200px);  }
    100%    { transform: translateY(0px);       }
}

@keyframes shake {
    0%, 100%                { transform: translateX(0px);   }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}


/* BUTTON */



.glitch-btn {
  display: inline-block;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  color: #afafaf;
}
.glitch-btn .mask {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: none;
}
.glitch-btn .mask span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  top: -100%;
}
.glitch-btn:hover {
  color: #4e4e4e;
}
.glitch-btn:hover:before {
  background: #4becbd;
  transform: translateX(120%) scaleX(3) scaleY(0.8);
}
.glitch-btn:before {
  content: "";
  position: absolute;
  left: -15%;
  top: -50%;
  background: #4e4e4e;
  width: 40%;
  height: 200%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.glitch-btn:after {
  content: "";
  position: absolute;
  left: -5%;
  top: 105%;
  background: #00ffb4;
  width: 112%;
  height: 10%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.glitch-btn:hover:after {
  background: #4e4e4e;
  transform: translateX(-55%) translateY(-600%) rotate(90deg) scaleX(0.3);
}
.glitch-btn .mask1 {
  height: 20%;
  top: 19%;
}
.glitch-btn .mask2 {
  height: 30%;
  top: 35%;
}
.glitch-btn .mask3 {
  height: 57%;
  top: 63%;
}
.hidden {
  opacity: 0;
}
.glitch-btn:hover .mask1 {
  animation: glitchin1 0.2s 0.3s both;
}
.glitch-btn:hover .mask2 {
  animation: glitchin2 0.2s 0.2s both;
}
.glitch-btn:hover .mask3 {
  animation: glitchin1 0.2s 0.2s both;
}
.glitch-btn:hover .hidden {
  animation: fade-in 0.1s 0.2s forwards;
}
.glitch-btn:hover .text {
  animation: fade-in 0.1s 0.2s forwards;
}
.glitch-btn:hover .mask {
  display: block;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes glitchin1 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(0.5px, 0.05px);
    transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
    transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
    transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
    transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
    transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
    transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
    transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
    transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
    transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
    transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
    transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
    transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
    transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
    transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
    transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
    transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
    transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
    transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
    transform: translate(-0.95px, -0.95px);
  }
  1% {
    opacity: 1;
  }
}
@keyframes glitchin1 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(0.5px, 0.05px);
    transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
    transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
    transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
    transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
    transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
    transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
    transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
    transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
    transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
    transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
    transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
    transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
    transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
    transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
    transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
    transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
    transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
    transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
    transform: translate(-0.95px, -0.95px);
  }
  1% {
    opacity: 1;
  }
}
@-webkit-keyframes glitchin2 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-0.5px, -0.05px);
    transform: translate(-0.5px, -0.05px);
  }
  90% {
    -webkit-transform: translate(-0.6px, 0.3px);
    transform: translate(-0.6px, 0.3px);
  }
  85% {
    -webkit-transform: translate(-1.2px, 0px);
    transform: translate(-1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1.2px, -0.2px);
    transform: translate(-1.2px, -0.2px);
  }
  75% {
    -webkit-transform: translate(-0.5px, -1px);
    transform: translate(-0.5px, -1px);
  }
  70% {
    -webkit-transform: translate(-0.3px, -1.2px);
    transform: translate(-0.3px, -1.2px);
  }
  65% {
    -webkit-transform: translate(2.1px, -0.7px);
    transform: translate(2.1px, -0.7px);
  }
  60% {
    -webkit-transform: translate(-3.6px, -0.4px);
    transform: translate(-3.6px, -0.4px);
  }
  55% {
    -webkit-transform: translate(-0.45px, -1.8px);
    transform: translate(-0.45px, -1.8px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  45% {
    -webkit-transform: translate(4.4px, -1.1px);
    transform: translate(4.4px, -1.1px);
  }
  40% {
    -webkit-transform: translate(4.2px, -2.4px);
    transform: translate(4.2px, -2.4px);
  }
  35% {
    -webkit-transform: translate(-2.6px, -1.3px);
    transform: translate(-2.6px, -1.3px);
  }
  30% {
    -webkit-transform: translate(1.4px, -2.8px);
    transform: translate(1.4px, -2.8px);
  }
  25% {
    -webkit-transform: translate(-6px, -0.75px);
    transform: translate(-6px, -0.75px);
  }
  20% {
    -webkit-transform: translate(0px, 1.6px);
    transform: translate(0px, 1.6px);
  }
  15% {
    -webkit-transform: translate(5.95px, 0.85px);
    transform: translate(5.95px, 0.85px);
  }
  10% {
    -webkit-transform: translate(-3.6px, -3.6px);
    transform: translate(-3.6px, -3.6px);
  }
  5% {
    -webkit-transform: translate(0.95px, 0.95px);
    transform: translate(0.95px, 0.95px);
  }
  1% {
    opacity: 1;
  }
}
@keyframes glitchin2 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-0.5px, -0.05px);
    transform: translate(-0.5px, -0.05px);
  }
  90% {
    -webkit-transform: translate(-0.6px, 0.3px);
    transform: translate(-0.6px, 0.3px);
  }
  85% {
    -webkit-transform: translate(-1.2px, 0px);
    transform: translate(-1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1.2px, -0.2px);
    transform: translate(-1.2px, -0.2px);
  }
  75% {
    -webkit-transform: translate(-0.5px, -1px);
    transform: translate(-0.5px, -1px);
  }
  70% {
    -webkit-transform: translate(-0.3px, -1.2px);
    transform: translate(-0.3px, -1.2px);
  }
  65% {
    -webkit-transform: translate(2.1px, -0.7px);
    transform: translate(2.1px, -0.7px);
  }
  60% {
    -webkit-transform: translate(-3.6px, -0.4px);
    transform: translate(-3.6px, -0.4px);
  }
  55% {
    -webkit-transform: translate(-0.45px, -1.8px);
    transform: translate(-0.45px, -1.8px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  45% {
    -webkit-transform: translate(4.4px, -1.1px);
    transform: translate(4.4px, -1.1px);
  }
  40% {
    -webkit-transform: translate(4.2px, -2.4px);
    transform: translate(4.2px, -2.4px);
  }
  35% {
    -webkit-transform: translate(-2.6px, -1.3px);
    transform: translate(-2.6px, -1.3px);
  }
  30% {
    -webkit-transform: translate(1.4px, -2.8px);
    transform: translate(1.4px, -2.8px);
  }
  25% {
    -webkit-transform: translate(-6px, -0.75px);
    transform: translate(-6px, -0.75px);
  }
  20% {
    -webkit-transform: translate(0px, 1.6px);
    transform: translate(0px, 1.6px);
  }
  15% {
    -webkit-transform: translate(5.95px, 0.85px);
    transform: translate(5.95px, 0.85px);
  }
  10% {
    -webkit-transform: translate(-3.6px, -3.6px);
    transform: translate(-3.6px, -3.6px);
  }
  5% {
    -webkit-transform: translate(0.95px, 0.95px);
    transform: translate(0.95px, 0.95px);
  }
  1% {
    opacity: 1;
  }



/* Секция about us */


.box {
    padding: 0;
    margin: 0;
}